* {
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'monserrat';
	src:url('../font/Montserrat-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'monserrat-reg';
	src:url('../font/Montserrat-Regular.ttf') format('truetype');
}
body {
	font-family:sans-serif;
	background-color: #ff7f7f;
	
	overflow-x: hidden;
}

/*header from home*/
.header {
	max-width: 100%;
	height: 950px;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*nav from header home*/
.nav {
	display: flex;
	background-color: rgba(228,125,126,.8);
	height: 65px;
	width: 100%;
	/* position: fixed; */
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: 0 75px;
	font-family: sans-serif;
}
.nav .logo img {
	width: 80px;
	cursor: pointer;
}
.nav .logo img:hover {
	filter: brightness(.9);
	transition: .2s;
}
.nav .item {width: 50%;}
.nav .item ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.nav .item ul li a {
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	/* background-color: aqua; */
	padding: 24px 38px ;
	transition: all .3s;
}
.nav .item ul li a:hover {
	background-color: #ff7f7f;
	color: #ddd;
	transition: all .3s;
}

.nav .search i {
	font-size:25px;
	cursor: pointer;
}

.nav .search i:hover {
	filter: brightness(.9);
}

/*main text from header*/
.main-text {
	color: white;
	transform: translate(120px, 100px);
}

.main-text .header-text h1{
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'monserrat';
}

.main-text .section p {
	font-family: 'monserrat-reg';
	font-weight: -100;
	font-size:22px;
	padding: 35px 0;
}
/* button  */
.but {
	width: 250px;
	height: 42px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 25px;	
	color: #f06567;
	outline: none;
	border: none;
	font-size: 15px;
}

.but:hover {
	filter: brightness(.9);
	transition: all .3s;
	cursor: pointer;
	
}

/* best seller */
.best-seller {
	height: 70vh;
	text-align: center;
	width: 90%;
	margin:auto;
	/*border: 1px solid #333;*/
	transform: translateY(-140px);
	color: white;
	position: relative;
}

.header-best-seller h1 {
	text-transform:uppercase;
	font-size:43px;
	margin-bottom: 43px;
	font-family: monserrat;
}
.header-best-seller p {
	font-family: monserrat-reg;
}


/*cards from best seller*/
.best-seller .cards {
	padding-top: 43px;
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: space-evenly;
}

/* card from cards */
.cards .card {
	width: 30%;
	transition: .3s;
	/*border: 1px solid #333;*/
}
.cards .card .img img {width: 250px;}
.cards .card .sections h1{
	font-size:20px;
	margin-bottom: 30px;
	font-family: 'monserrat'
}

.cards .card .sections p{
	font-size:15px;
	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 35px;

}

.cards .card:hover {
	filter: brightness(.9);
	/* box-shadow: 0 0 3px #aaa; */
	background-color: rgba(228,125,126,.5);
	transition: .3s;
	cursor: pointer;
	border-radius: 10px;
}

.best-seller .sushis {position: absolute;top: 0;}
.best-seller .sushis .sushi {width: 110px;}
.sushis .sushi1 {transform: translate(-10px , 35vh);}
.sushis .sushi2 {transform: translate(1050px , 25vh);}

/* Best tasty */
.best-tasty {
	width: 100%;
	height: 100vh;
	background-color: white;
	text-align: center;
	position: relative;
}

/* section-best-tasty */
.section-best-tasty{
	display: flex;
	width: 80%;
	margin: auto;
	transform: translateY(100px);
}
.section-tasty {width: 50%;color: #ff7f7f;}
.header-tasty h1 {
	font-family: monserrat;
	font-size: 43px;
	text-transform: uppercase;
}
.main-tasty p{text-align: left; margin:50px 0; font-family:'monserrat-reg';}
.main-tasty button {
	background-color:#ff7f7f;
	color: rgb(255, 255, 255);
}

/* best tasty background */
.best-tasty .bg-tasty{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 250px;
	background-image: url(../img/bg2.png);
	background-size: cover;
}


