* {
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'monserrat';
	src:url('../font/Montserrat-Medium.ttf') format('truetype');
}
@font-face{
	font-family: 'monserrat-reg';
	src:url('../font/Montserrat-Regular.ttf') format('truetype');
}
body {
	font-family:sans-serif;
	background-color: rgba(228,125,126,100);
	overflow-x: hidden;
}

/*header from home*/
.header {
	max-width: 100%;
	height: 950px;
	background-image: url(../img/header.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*nav from header home*/
.nav {
	display: flex;
	background-color: rgba(228,125,126,.8);
	height: 65px;
	width: 100%;
	/* position: fixed; */
	color: white;
	justify-content: space-between;
	align-items: center;
	padding: 0 75px;
	font-family: sans-serif;
}
.nav .logo img {
	width: 80px;
	cursor: pointer;
}
.nav .logo img:hover {
	filter: brightness(.9);
	transition: .2s;
}
.nav .item {width: 50%;}
.nav .item ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.nav .item ul li a {
	font-family: sans-serif;
	text-decoration: none;
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	/* background-color: aqua; */
	padding: 24px 38px ;
	transition: all .3s;
}
.nav .item ul li a:hover {
	background-color: rgba(228,125,126,1);
	color: #ddd;
	transition: all .3s;
}

.nav .search i {
	font-size:25px;
	cursor: pointer;
}

.nav .search i:hover {
	filter: brightness(.9);
}

/**/
.main-text {
	color: white;
	transform: translate(120px, 100px);
}


.main-text .header-text h1{
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'monserrat';
}
.main-text .section p {
	font-family: 'monserrat-reg';
	font-weight: -100;
	font-size:22px;
	padding: 35px 0;
}

.main-text .button button {
	width: 250px;
	height: 42px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 25px;	
	color: #f06567;
	outline: none;
	border: none;
	font-size: 15px;
}

.main-text .button button:hover {
	filter: brightness(.9);
	transition: all .2s;
	cursor: pointer;
}

/* best seller */
.best-seller {
	height: 65vh;
	text-align: center;
	width: 90%
	margin:auto;
	/*border: 1px solid #333;*/
	transform: translateY(-140px);
	color: white;
}

.header-best-seller h1 {
	text-transform:uppercase;
	font-size:43px;
	margin-bottom: 43px;
	font-family: monserrat;
}
.header-best-seller p {
	font-family: monserrat-reg;
}


/*cards */

.best-seller .cards {
	padding-top: 43px;
	display: flex;
	width: 80%;
	margin: auto;
	justify-content: space-between;
}

.cards .card {
	width: 30%;
	border: 1px solid #333;
}
.cards .card .img img {
	width: 270px;
}
.cards .card .sections h1{
	font-size:20px;
	margin-bottom: 30px;
	font-family: 'monserrat'
}
.cards .card .sections p{
	font-size:14px;
	box-sizing: border-box;
	padding-right: 15px;
	padding-left: 15px;

}






